*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e; /*Sign color*/
    background-color: #ffffc7; /*box background color*/
}

/* reset button */
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}

/* New Game Button */
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}

/* Winner text */
#msg {
    color: #ffffc7;
    font-size: 5vmin;;
}

.msg-container {
  height: 100vmin; 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
    display: none;
}
 
.turn-container {
  margin: 1.5rem 0;
}

#turn-text {
  color: #fff8dc; 
  font-size: 3.5vmin;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #376e6f; 
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}